html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(197, 197, 197);
}

* {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    box-sizing: border-box;
}

/**
 * Content
 */
.content {
    position: absolute;
    left: 30%;
    height: 100%;
    width: 70%;
}

.content .header {
    border-left: 4px solid rgb(219, 47, 47);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: #2A2F31;
    height: 100px;
    color: white;
    padding-left: 20px;
}

.content .header .title {
    padding-top: 18px;
    display: block;
    color: rgb(219, 47, 47);
    font-weight: bold;
    font-size: 20px;
}

.content .joke {
    font: 25px helvetica, arial, sans-serif;
}

.data {
    display: none;
}

.data.current {
    display: block;
}

.debug {
    border-left: 4px solid rgb(74, 74, 74);
    padding: 10px 0 5px 10px;
    background-color: #E2E2E2;
}

.debug .type {
    display: block;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 1px dotted rgba(71, 93, 114, 0.49);
    color: rgb(74, 74, 74);
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.32);
    font-size: 19px;
    font-weight: bold;
}

.debug .props {
    padding-top: 7px;
    padding-left: 8px;
    padding-bottom: 20px;
}

.debug .props span {
    display: inline-block;
    width: 150px;
    padding-bottom: 3px;
    text-shadow: 1px 0 1px rgba(195, 195, 195, 0.5);
}

/**
 * Block de code
 */

.file {
    padding: 15px 0 5px 0;
    border-left: 4px solid rgb(95, 97, 247);
}

.code {
    width: 95%;
    margin: 0 auto;
}

.code .title {
    font-weight: bold;
    font-size: 12px;
    padding-left: 10px;
    background-color: #6D3F3F;
    color: white;
    height: 25px;
    line-height: 25px;
    border: 1px solid rgba(109, 63, 63, 0.62);
    border-bottom: none;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(132, 121, 121, 1);
    text-shadow: 1px 0px 1px black;
}

.code pre {
    border: none !important;
    margin-top: 0px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.code pre li {
    font-size: 15px;
}

.code ol.linenums {
    margin-left: 10px;
}

/**
 * Menu
 */
.menu {
    position: fixed;
    left: 0px;
    height: 100%;
    width: 30%;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.menu_box {
    background-color: rgb(242, 242, 242);
    padding: 10px;
    border-bottom: 1px solid rgb(203, 202, 202);
    cursor: pointer;
}

.menu_box:hover {
    background-color: rgb(78, 162, 232);
}

.menu_box.active {
    background-color: rgb(41, 103, 174);
    color: white;
}

/**
 * Scrollbar
 */

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fff;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
}

*::-webkit-scrollbar:hover {
    background-color: #eee;
}

*::-webkit-resizer {
    -webkit-border-radius: 4px;
    background-color: #666;
}

*::-webkit-scrollbar-thumb {
    min-height: 0.8em;
    min-width: 0.8em;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #888;
}

/**
 * Prettyprint
 */
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
    background: transparent !important;
    list-style-type: decimal !important;
    font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
}

.target {
    background: rgb(109, 63, 63) !important;
}

/**
 * Theme Tonic pour prettyprint
 * @https://github.com/daylerees/colour-schemes/blob/master/prettyprint/tonic.html
 */
pre.theme-tonic {
    background-color: #2a2f31;
    padding: 2em;
    font-size: .7em;
    color: #eeeeee;
}

pre.theme-tonic code {
    font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
}

pre.theme-tonic .pln {
    color: #eeeeee;
}

pre.theme-tonic .str {
    color: #B8CD44;
}

pre.theme-tonic .kwd {
    color: #75A1A4;
}

pre.theme-tonic .com {
    color: #4a5356;
}

pre.theme-tonic .typ {
    color: #B8CD44;
}

pre.theme-tonic .lit {
    color: #FD9F59;
}

pre.theme-tonic .pun,
pre.theme-tonic .opn,
pre.theme-tonic .clo {
    color: #eeeeee;
}

pre.theme-tonic .tag {
    color: #75A1A4;
}

pre.theme-tonic .atn {
    color: #B8CD44;
}

pre.theme-tonic .atv {
    color: #FD9F59;
}

pre.theme-tonic .dec,
pre.theme-tonic .var {
    color: #B8CD44;
}

pre.theme-tonic .fun {
    color: #75A1A4;
}
