@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;

    src: url('fonts/lato/lato-black.eot');
    src: url('fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-black.woff') format('woff'), url('fonts/lato/lato-black.ttf') format('truetype'), url('fonts/lato/lato-black.svg#latoblack') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;

    src: url('fonts/lato/lato-bold.eot');
    src: url('fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-bold.woff') format('woff'), url('fonts/lato/lato-bold.ttf') format('truetype'), url('fonts/lato/lato-bold.svg#latobold') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: bold;

    src: url('fonts/lato/lato-bolditalic.eot');
    src: url('fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-bolditalic.woff') format('woff'), url('fonts/lato/lato-bolditalic.ttf') format('truetype'), url('fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: normal;

    src: url('fonts/lato/lato-italic.eot');
    src: url('fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-italic.woff') format('woff'), url('fonts/lato/lato-italic.ttf') format('truetype'), url('fonts/lato/lato-italic.svg#latoitalic') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;

    src: url('fonts/lato/lato-light.eot');
    src: url('fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-light.woff') format('woff'), url('fonts/lato/lato-light.ttf') format('truetype'), url('fonts/lato/lato-light.svg#latolight') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;

    src: url('fonts/lato/lato-regular.eot');
    src: url('fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-regular.woff') format('woff'), url('fonts/lato/lato-regular.ttf') format('truetype'), url('fonts/lato/lato-regular.svg#latoregular') format('svg');
}