/**
 * Global
 */
html, body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.72222;
    height: 100%;
    padding: 0;
    margin: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:focus {
    outline: none;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/**
 * Body
 */
body {
    background-color: #FFF;
}

/**
 * Top navigation
 */
.navigation_header {
    color: #FFF;
    background-color: #34495E;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1002;
    padding: 0 20px;
    border-radius: 0;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}

.navigation_header .navigation_header_title,
.navigation_header .navigation_header_title:hover {
    float: left;
    width: 200px;
    color: #83A9CF;
    line-height: 41px;
    font-size: 21px;
    letter-spacing: 1px;
}

.navigation_header .navigation_header_title span {
    position: absolute;
    top: 16px;
    left: 50px;
    color: #FFF;
    transition: .5s ease;
    -moz-transition: .5s ease;
    -webkit-transition: .5s ease;
}

.navigation_header .navigation_header_title:hover span {
    color: #83A9CF;
}

.navigation_header_link {
    padding: 0;
    margin: 0;
}

.navigation_header_link li {
    list-style: none;
    float: left;
}

.navigation_header_link li.active {
    background-color: #567C93;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}

.navigation_header_link li a {
    text-decoration: none;
    display: block;
    color: #FFF;
    line-height: 60px;
    padding: 0 25px;
}

.navigation_header_link li.active a:hover {
    color: #FFF;
}

.navigation_header_link li a:hover {
    color: #83A9CF;
}

.navigation_header_login {
    line-height: 60px;
    float: right;
}

.navigation_header_login:hover {
    cursor: pointer;
}

.navigation_header_login .dropdown-menu {
    left: auto;
    right: -60px !important;
    margin-top: -1px;
    font-size: 14px;
    border-radius: 1px 4px 4px 4px;
}

/**
 * Left side navigation
 */
.navigation_left_add {
    position: fixed;
    left:-185px;
    padding: 75px 0 0 0;
    width: 220px;
    height: 50%;
    background-color: #265C3D;
    color: white;
    z-index: 1001;
    box-shadow: inset -10px 0 10px rgba(0, 0, 0, 0.15);
    transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
}

.navigation_left_import {
    position: fixed;
    left: -185px;
    top : 50%;
    padding: 25px 0 0 0;
    width: 220px;
    height: 50%;
    background-color: #34495E;
    color: white;
    z-index: 1001;
    box-shadow: inset -10px 0 10px rgba(0, 0, 0, 0.15);
    transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
}

.navigation_left.overable:hover {
    left: 0px;
}

.navigation_left.overable .fa{
    width: 20px;
}

.onglet{
    text-transform: uppercase;
    padding: 0 7px 0 20px;
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    right: -43px;
    position: absolute;
    top: 50%;

}

.navigation_left .divider {
    width: 100%;
    border-top: 1px dashed white;
    padding: 10px 0;
}

.navigation_left_title {
    text-transform: uppercase;
    padding: 0 7px 0 20px;
}

.navigation_left_link,
.navigation_left_link li {
    padding: 0;
    list-style: none;
}

.navigation_left_link li a {
    color: #FFF;
    display: block;
    width: 100%;
    padding-left: 40px;
    letter-spacing: 1px;
    font-size: 16px;
}

.navigation_left_link li a:hover {
    background-color: #1C3145;
}

a {
    color: #3B5BBE;
}

a:hover, a:focus {
    color: #000DFF;
}

/**
 * Content
 */
.page_content {
    position: absolute;
    top: 65px;
    left: 0px;
    border-left: 20px solid rgba(0, 0, 0, 0);
    width: 100%;
}