/**
 * Mise en forme des section
 */
.page_content section {
    padding: 30px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.page_content li {
    display: block;
    padding: 0 10px;
    width: 50%;
    float: left;
}

/**
 * Mise en forme des inputs
 */

.page_content h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.page_content .forms {
    width: 500px;
    margin: 0 auto;
}

.page_content .forms input[type='text'],
.page_content .forms input[type='password'] {
    display: block;
    width: 300px;
    display: inline-block;
    margin: 0 auto 3px;
}

.page_content .forms input[type=submit] {
    padding: 5px 15px;
    margin: 0 auto;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    font-weight: bold;
    border: 1px solid #E7DEDE;
    display: block;
}

.page_content .forms input[type=submit]:hover {
    background: #B2B2B2;
}

.page_content .forms label {
    width: 150px;
    text-align: left;
}

.page_content .former input[type='text'],
.page_content .former input[type='password'] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}

.page_content input[type='text']:focus.former,
.page_content input[type='password']:focus.former {
    outline: none;
}

.page_content input[type='text'].underligne,
.page_content input[type='password'].underligne {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}

.page_content .form-control {
    border-color: #38586E;
}

.page_content #search {
    color: white;
    background-color: #38586E;
    border-color: #38586E;
}

.page_content #search:hover {
    background-color: #53748B;
    border-color: #53748B;
}

.page_content input[type='text']:hover.underligne,
.page_content input[type='text']:focus.underligne,
.page_content input[type='password']:focus.underligne,
.page_content input[type='password']:focus.underligne {
    border-bottom: solid 2px #577CCE;
}