/**
 * Mise en page de la Fiche entreprise.
 */
.page_content section {
    padding: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.fa-file-image-o
{
	top: 35px;
	right: 50px;
	position: absolute;
	color : #4E4141;
}
.tuile_50
{
	min-width: 705px;
}
#level_0, #level_1, #level_2, #level_3
{
	color :#FFF;
	min-width: 1170px;
	width: 100%;
}

strong
{
	display: inline-block;
	width: 55px;
}

select
{
	color :#1c1c1c;
	width : 75px;
}


h3
{
	margin-top: 50px
}

#level_0
{
	margin-top : 10px;
	display: table;
	border-spacing: 13px 0;
	height :130px;

}

#level_0 h2
{
	font-size: 40pt;
	font-weight: normal;
	text-align: center;
}

#level_0 h2 span
{
	display : inline-block;
	position: absolute;
	width: 100%;
	top : 50%;
	left: 50%;
	transform :translate(-50%,-50%);
}

h3
{
	font-size: 20pt;
	font-weight: normal;
	margin-left: 10%;
}
#level_0 p
{
	font-size: 18pt;
	display : inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(-50%,50%);
}
#fiche
{
	height:100%;
	position: relative;
	background-color: #1abc9c;	
	display: table-cell;
}
#secteur
{	
	height: 100%;
	position: relative;
	background-color: #66c1db;
	position:relative;	
	display: table-cell;
	
}
#secteur .wrap
{
	position:absolute;
	top : 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#secteur_select
{
	width : 300px;
	text-align: center;
	height: 30px;
}	
#level_1
{
	margin-top : 13px;
	display: table;
	border-spacing: 13px 0;
	height :327px;
}
#top5Select
{
	position: relative;
	top: 25px;
	left: 40px;
}
#top
{
	left: 47%;
	transform: translate(-50%, 0px);
	position: relative;
	color: #2A2222;
}

#top td, th
{
	padding: 0px 10px;
	border: 2px solid #FFF;
}
#coord
{
	height:100%;
	position: relative;
	background:#f5764b  ;
	display: table-cell;
}
#coord  .wrap
{
	position : absolute;
	width: 100%;
	top: 25%;
}
#coord .gauche, .droite
{
	float: left;
	width: 40%;
}
#coord li
{
	width: 100%;
	min-width: 300px;
	margin-bottom: 30px;
	font-size: 12pt;
}
#coord li span
{
	display: block;
	margin-left:60px;
}

#type_2
{
	height:100%;
	position: relative;
	background: #d85151;	
	display: table-cell;
}

#type_2  .wrap
{
	position : absolute;
	width: 100%;
	top: 40%;
	left: 3%;
}

#type_2  #bars2
{
	position: absolute;
	left: 55%;
	transform: translate(-50%, 0px);
	top: 35%;
}

#type_3
{
	height:100%;
	position: relative;
	background: #6b8085;	
	display: table-cell;
}

#type_3  .wrap
{
	position : absolute;
	width: 100%;
	top: 40%;
	left: 3%;
}

#type_3  #bars3
{
	position: absolute;
	left: 55%;
	transform: translate(-50%, 0px);
	top: 35%;
}
.flecheT
{
	top :50%;
	transform: translate(0,-50%);
	right :-58px; 
	z-index: 20;
	position: absolute;
}

.flecheL
{
	bottom :-58px;
	left : 50%;
	z-index :20;
	position: absolute;
	transform: translate(-50%,0);
}

.flecheR
{
	top :50%;
	transform: translate(0,-50%);
	left :-58px; 
	z-index: 20;
	position: absolute;
}

#level_2
{
	margin-top : 13px;
	display: table;
	border-spacing: 13px 0;
	height :327px;
}


.flecheJ
{
	bottom: 50%;
	left: 0;
	z-index: 20;
	position: absolute;
	transform: translate(-9px,9px);
}

#type_1
{
	height:100%;
	position: relative;
	background: #8abdb4;	
	display: table-cell;
}

#type_1 .wrap
{
	position : absolute;
	width: 100%;
	top: 40%;
	left: 3%;
}

#type_1  #bars1
{
	position: absolute;
	left: 55%;
	transform: translate(-50%, 0px);
	top: 35%;
}


#level_3
{
	margin-top : 13px;
	margin-bottom: -13px;
	display: table;
	border-spacing: 13px 0;
	height :327px;
}

#type_4
{
	height:100%;
	position: relative;
	background: #B19797;	
	display: table-cell;
}

#type_4 .wrap
{
	position : absolute;
	width: 100%;
	top: 40%;
	left: 3%;
}

#type_4  #bars4
{
	position: absolute;
	left: 55%;
	transform: translate(-50%, 0px);
	top: 35%;
}

