/**
 * Mise en page de la Fiche entreprise.
 */
.page_content section {
    padding: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.tuile_50
{
	min-width: 705px;
}
#level_0, #level_1, #level_2, #level_3
{
	color :#FFF;
	min-width: 1170px;
	width: 100%;
}

#level_0
{
	margin-top : 10px;
	display: table;
	border-spacing: 13px 0;
	height :130px;

}

#level_0 h2
{
	font-size: 40pt;
	font-weight: normal;
	text-align: center;
}

#level_0 h2 span
{
	display : inline-block;
	position: absolute;
	width: 100%;
	top : 50%;
	left: 50%;
	transform :translate(-50%,-50%);
}

h3
{
	font-size: 20pt;
	font-weight: normal;
	margin-left: 10%;
}
#level_0 p
{
	font-size: 18pt;
	display : inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(-50%,50%);
}
#fiche
{
	height:100%;
	position: relative;
	background-color: #1abc9c;	
	display: table-cell;
}
#entreprise
{	
	height: 100%;
	position: relative;
	background-color: #66c1db;		
	display: table-cell;
	
}
#level_1
{
	margin-top : 13px;
	display: table;
	border-spacing: 13px 0;
	height :327px;
}
#coord
{
	height:100%;
	position: relative;
	background: #d85151 url(../img/fiche_ent/logo.png) no-repeat bottom right;
	
	display: table-cell;
}
#coord  .wrap
{
	position : absolute;
	width: 100%;
	top: 25%;
}
#coord .gauche, .droite
{
	float: left;
	width: 40%;
}
#coord li
{
	width: 100%;
	min-width: 300px;
	margin-bottom: 30px;
	font-size: 12pt;
}
#coord li span
{
	display: block;
	margin-left:60px;
}

#info
{
	height:100%;
	position: relative;
	background: #f5764b url(../img/fiche_ent/info.png) no-repeat bottom right;	
	
	display: table-cell;
}

#info  .wrap
{
	position : absolute;
	width: 100%;
	top: 25%;
}
#info .gauche, .droite
{
	float: left;
	width: 50%;
}
#info li
{
	font-size: 12pt;
	width: 100%;
	min-width: 284px;
	margin-bottom: 55px;
	margin-right: 9%;
}
#info li span
{
	display: block;
	margin: -15px 0 -35px 90px;
}

.flecheT
{
	top :50%;
	transform: translate(0,-50%);
	right :-58px; 
	z-index: 20;
	position: absolute;
}

.flecheL
{
	bottom :-58px;
	left : 50%;
	z-index :20;
	position: absolute;
	transform: translate(-50%,0);
}

#level_2
{
	margin-top : 13px;
	display: table;
	border-spacing: 13px 0;
	height :327px;
}

.tuile_25
{
	min-width: 346px;
	width: 25%;
}

#stageT
{
	height:100%;
	position: relative;
	background-color: #b19797;	
	display: table-cell;
}
#stageT  .wrap
{
	position : absolute;
	width: 100%;
	top: 25%;
}

#stageT li
{
	width: 100%;
	position: relative;
}
#stageT li span
{
	display: block;
	margin-left: 90px;
}  
#stageT .gauche
{
	width : 100%;
	font-size: 10pt;
}

#stageT .gauche li
{
	float: left;
	width:50%;
}


#searchT
{
	height:100%;
	position: relative;
	background-color: #b19797;	
	
	display: table-cell;
}
#searchT  .wrap
{
	position: absolute;
	width: 145px;
	top: 25%;
	left: 60%;
	transform: translate(-100%, 0px);
}

#searchT strong
{
	display: inline-block;
	width: 65px;
}

#searchT select
{
	color :#1c1c1c;
	width : 75px;
}
.flecheJ
{
	bottom: 50%;
	left: 0;
	z-index: 20;
	position: absolute;
	transform: translate(-9px,9px);
}

.consulte
{
	background: none repeat scroll 0% 0% rgb(46, 48, 48);
	width: 110px;
	text-align: center;
    position: relative;
    left: 30%;
    top: 204px;
    height: 36px;
    line-height: 36px;
}

.consulte:hover {
    cursor: pointer;
    color: rgb(190,190,190);
}

#diagrammeT
{
	height:100%;
	position: relative;
	background-color: #b19797;	
	
	display: table-cell;
}
#donutsT
{
	height:100%;
	position: relative;
	background-color: #b19797;	
	display: table-cell;
}

#donutsT .wrap
{
	position : absolute;
	width: 100%;
	left :50%;
	transform : translate(-50%,0);
}

#diagrammeT .wrap
{
	position : absolute;
	width: 100%;
	margin-top: 30px;
	left :50%;
	transform : translate(-50%,0);
}

#level_3
{
	margin-top : 13px;
	margin-bottom: -13px;
	display: table;
	border-spacing: 13px 0;
	height :327px;
}

#level_3 h3
{
	margin-top: 50px
}

#level_3 strong
{
	display: inline-block;
	width: 30px;
}

#level_3 select
{
	color :#1c1c1c;
	width : 75px;
}

#level_3 .consulte
{
	left: 6%;
	top: 155px;
}

#TaxeT
{
	height:100%;
	position: relative;
	background-color: #6b8085;	
	display: table-cell;
}

#TaxeT .wrap
{
	position : absolute;
	margin-top: 30px;
	left: 4%;
}


#TaxeT #bars
{
	position: absolute;
	left: 55%;
	transform: translate(-50%, 0px);
	top: 28%;
}
#test
{
	color : #000;
}

#participationT
{
	height:100%;
	position: relative;
	background-color: #8abdb4;	
	display: table-cell;
}

#participationT .wrap
{
	position : absolute;
	margin-top: 30px;
	left: 4%;
}


#participationT #bars2
{
	position: absolute;
	left: 55%;
	transform: translate(-50%, 0px);
	top: 28%;

}
